// MIXINS
@mixin anchorStyle {
    a {
        color: #EEEEEE;
        text-decoration: none;
     
        &:hover {
            color: #00ADB5;
        }
    }
}

@mixin divBlock($height, $width, $backgroundColour: #222831, $position: absolute) {
    height: $height;
    width: $width;
    background-color: $backgroundColour;
    position: $position;
}

@mixin flexBox($display, $align, $justify, $direction: null) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

// VARIABLES
$divPadding: 0px 250px 50px 250px;

// STYLING
html {
    font-family: "Roboto Mono", monospace;
    color: #EEEEEE;
    text-align: center;   
}

.scaryFace {
    background-image: url("../images/jeff.gif");
}

body {
    background-color: #222831;
    margin: 0px;
}

h1 {
    font-size: 2rem;
    line-height: 10%;
}

p {
    font-weight: 300;
}

// NAVBAR
.navbarContainer {
    @include divBlock(10%, 100%, #393E46);
    @include flexBox(flex, center, space-evenly);

    margin: 0;
    top: 0%;
}

.navbarChild {
    @include anchorStyle;

    h1 {
    }

    ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;

        li {
            float: left;

            a {
                padding: 0px 0px 0px 50px;

            }
        }
    }
}

// TITLE DIV
#mainDiv {
    @include divBlock(50%, 50%);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title {
    font-size: 6rem;
    font-weight: 700;
}

.subHeading {
   font-weight: 400; 
}

#footer {
    @include divBlock(10%, 100%, #393E46);
    @include flexBox(flex, center, space-evenly, column);

    bottom: 0%;

    i {
        padding-top: 10px;
    }

    p {
        //padding-left: 10px;
        font-size: 0.75rem;
    }
}
